{% extends 'base.html' %}

{% block dates %}
<div class="container">
    {{ block.super }}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Dates</h1>
            <ul class="list-group">
                {% for date in available_dates %}
                    <li class="list-group-item">
                        <a href="{% url 'streams_list' date %}" class="text-decoration-none">{{ date }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock dates %}
