{% extends 'base.html' %}

{% block dates %}
<div class="container">
    {{ block.super }}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Records</h1>
            <ul class="list-group">
                {% for record in records %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            {{ record }}
                            <a href="{% url 'serve_video' path record %}" download class="btn btn-sm btn-primary">
                                <i class="bi bi-download"></i> Download
                            </a>
                        </div>
                        <div class="mt-2">
                            <video
                                id="video-{{ record }}"
                                class="video-js vjs-big-play-centered"
                                controls
                                preload="auto"
                                width="100%"
                                data-setup='{}'
                            >
                                <source src="{% url 'serve_video' path record %}" type="video/webm">
                            </video>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="https://vjs.zencdn.net/7.15.4/video.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for record in records %}
        var player_{{ record }} = videojs('video-{{ record }}', {
            controlBar: {
                volumePanel: { inline: false }
            },
            playbackRates: [0.5, 1, 1.5, 2], // Playback speed options
            plugins: {
                hotkeys: {
                    enableModifiersForNumbers: false // Allow direct number input for seeking
                }
            }
        });
        {% endfor %}
    });
</script>
{% endblock %}
