{% extends 'base.html' %}

{% block dates %}
<div class="container">
    {{ block.super }}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Account Settings</h1>

            <h2>User Profile</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ user_form.as_p }}
                {% for form in user_info_formset %}
                    {{ form.as_p }}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>

            <h2 class="mt-4">Reset Password</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ reset_password_form.as_p }}
                <button type="submit" class="btn btn-warning">Reset Password</button>
            </form>

            <h2 class="mt-4">Delete Account</h2>
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
